{% extends 'admin/layout.html.twig' %}

{% block content_title %}
	
{% endblock %}

{% block content %}

	<div class="row clearfix">

		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="card" style="width: 100%; margin: 0 auto !important;">

				<div class="header">
					<h2>
						Daftar PO
					</h2>
				</div>
				
				<div class="body">
					
					
				</div>
				

			</div>

		</div>

	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/po.js') }}"></script>
	<script type="text/javascript">
	</script>

{% endblock %}