@media print{
 	@page {
 		size: legal landscape;
 	}

    body
    {
        margin: 0;
    }

    .font16 {
    	font-size: 16px;
    }

    .font14 {
    	font-size: 14px;
    }

    .font12 {
    	font-size: 12px;
    }

    .font10 {
    	font-size: 10px;
    }

    .font8 {
    	font-size: 8px;
    }

    .font6 {
    	font-size: 6px;
    }

    .width300 {
    	width: 300px !important;
    }

}
	
	.font16 {
    	font-size: 16px;
    }

    .font14 {
    	font-size: 14px;
    }

    .font12 {
    	font-size: 12px;
    }

    .font10 {
    	font-size: 10px;
    }

    .font8 {
    	font-size: 8px;
    }

    .font6 {
    	font-size: 6px;
    }

    .width300 {
    	width: 300px !important;
    }

.bg-gray {
	background: #DDD;
}

.bold {
	font-weight: bold;
}

.loader {
    width: 30px;
}

.not-show {
    display: none;
}

.width100 {
    width: 100px;
}

.width50 {
    width: 50px;
}

.color-red {
    color: #F44336;
}

.color-green {
    color: #4CAF50;
}