{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}

	<div class="row clearfix">

		<div class="col-md-12">

			<div class="card">

				<div class="header">
				</div>

				<div class="body">
				</div>

			</div>

		</div>

	</div>

	
{% endblock %}